.location .items {
	border-radius: 3px;
	padding: 5px;
	background-color: white;
	opacity: .80;
	min-height: 300px;
}

.location {
	float: left;
	margin: 20px;
}

.location .total {
	margin: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: white;
	opacity: .80;
	border-radius: 3px;
}

.explanation {
	background-color: white;
	opacity: .80;
	padding: 10px;
	border-radius: 10px;
}

.gexplanation {
	background-color: white;
	opacity: .80;
	padding: 10px;
	border-radius: 10px;
}

.items img {
	margin: 3px;
	width: 75px;
	height: 75px;
}

.item {
	float: left;
	opacity: 1;
	font-size: 8pt;
	text-align: center;
}


.alert {
	opacity: 0;
	border-radius: 10px;
	background-color: darkred;
	text-align: center;
	color: white;

}

.correct {
	opacity: 0;
	border-radius: 10px;
	background-color: darkgreen;
	text-align: center;
	color: white;
}

.wrong {
	opacity: 0;
	border-radius: 10px;
	background-color: darkred;
	text-align: center;
	color: white;
}

.location .header-house {
	max-width: 100%;
}

.location .header-burglar {
	max-width: 49%;
}

.location .header-wheelbarrow {
	max-width: 75%;
}

.location .header-gardener {
	max-width: 69%;
}
button {
	opacity: .80;
	border-radius: 5px;
	background-color: white;
}